.header {
  width: 100%;
  height: 170px;
  box-shadow: 0 1px 1px lightgrey;

  position: sticky;
  top: 0;
  left: 0;
  z-index: 20;
  background-color: #ffffff;
  .header-banner {
    width: inherit;
    height: 60px;
    background-color: crimson;
    .header-banner-link {
      display: block;
      width: inherit;
      height: inherit;
      .header-banner-link-img {
        width: inherit;
        height: inherit;
        object-fit: cover;
      }
    }
  }
  .header-search {
    width: inherit;
    height: 70px;
    display: flex;
    flex-flow: row wrap;
    padding: 0 10px;
    .header-search-logo {
      width: 15%;
      height: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-left: 5;
      .header-search-logo-link-img {
        .header-search-logo-img {
          width: 195px;
          height: 30px;
        }
      }
    }
    .header-search-ajax {
      width: 70%;
      height: inherit;
      display: flex;
      align-items: center;
      padding-right: 20px;
      .header-search-ajax-input {
        width: 600px;
        height: 45px;
        background-image: url(../../images/svg/searchicon.svg);
        background-repeat: no-repeat;
        background-position-x: 550px;
        background-position-y: center;
        background-color: #f0f0f1;
        border-radius: var(--medium-radius);
        border: none;
        padding-right: 60px;
        &::placeholder {
          font-family: var(--fontRegular);
          font-size: 12px;
        }
      }
    }
    .header-search-register {
      width: 15%;
      height: inherit;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      padding-right: 10px;
      column-gap: 10px;
      .header-search-register-link-first {
        display: inline-block;
        width: 135px;
        height: 40px;
        border: 1px solid lightgray;
        border-radius: var(--medium-radius);
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 5px;
        text-decoration: none;
        color: #2b2b2b;
        font-size: 12px;
        font-family: var(--fontRegular);
        font-weight: bold;
        .header-search-register-link-first-img {
          opacity: 0.8;
        }
        .header-search-register-link-first-deivder {
          width: 2px;
          height: 12px;
          background-color: #2b2b2b;
        }
      }
      .header-search-register-deivder {
        width: 1px;
        height: 25px;
        background-color: lightgray;
      }
      .header-search-register-link-second {
        padding-top: 5px;
        .header-search-register-link-second-img {
          opacity: 0.7;
        }
      }
    }
  }
}
.header-menu {
  width: 100%;
  height: 40px;
  display: flex;
  flex-flow: row wrap;
  position: relative;
  .right {
    width: 85%;
    height: inherit;
    .right-nav {
      width: 100%;
      height: inherit;
      display: flex;
      flex-flow: row wrap;
      padding-right: 35px;
      column-gap: 15px;
      align-items: center;
      .right-nav-devider {
        width: 1px;
        height: 13px;
        background-color: lightgray;
      }
      .right-nav-item {
        width: fit-content;
        height: inherit;

        .right-nav-item-link {
          display: flex;
          width: fit-content;
          height: inherit;
          color: rgb(100, 100, 100);
          font-family: var(--fontRegular);
          text-decoration: none;
          font-size: 12px;
          line-height: 40px;
          align-items: center;
          column-gap: 5px;

          .right-nav-item-link-img {
            opacity: 0.4;
            width: 18px;
            height: 18px;
          }
        }
        .right-nav-item-submenu {
          width: 80vw;
          height: 65vh;
          background-color: #ffffff;
          position: absolute;
          border-bottom-left-radius: var(--medium-large-radius);
          box-shadow: 0 0 10px #7c7c7c;
          display: none;
          .right-nav-item-submenu-right {
            width: 20%;
            height: 100%;
            overflow: auto;
            direction: ltr;
            background-color: #f5f5f5;
            .right-nav-item-submenu-right-item {
              width: 100%;
              height: 50px;
              direction: rtl;
              padding: 12px 8px;
              transition: 200ms;
              &:hover .right-nav-item-submenu-right-item-link {
                color: #ef394e;
              }
              &:hover
                .right-nav-item-submenu-right-item-link
                .right-nav-item-submenu-right-item-link-svg {
                fill: #ef394e;
              }
              &:hover {
                background-color: #ffffff;
              }
              .right-nav-item-submenu-right-item-link {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                column-gap: 10px;
                width: 100%;
                height: 100%;
                text-align: center;
                text-decoration: none;
                font-family: var(--fontRegular);
                color: #3f4064;
                font-size: 12px;
                font-weight: 700;
                line-height: 40px;

                .right-nav-item-submenu-right-item-link-svg {
                  width: 18px;
                  height: 18px;
                  transform: scale(0.7, 0.7);
                  fill: #3f4064;
                }
              }
              .right-nav-item-submenu-right-submenu {
                width: 80%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                display: none;
                border-bottom-left-radius: var(--medium-large-radius);
                padding: 8px 16px;
                .right-nav-item-submenu-right-submenu-top {
                  width: 100%;
                  height: 60px;
                  background-color: #ffffff;
                  .right-nav-item-submenu-right-submenu-top-link {
                    display: flex;
                    width: 100%;
                    height: 100%;
                    text-decoration: none;
                    align-items: center;
                    justify-content: flex-start;
                    .right-nav-item-submenu-right-submenu-top-link-txt {
                      font-family: var(--fontRegular);
                      display: flex;
                      flex-flow: row wrap;
                      align-items: center;
                      justify-content: center;
                      column-gap: 5px;
                      font-size: 12px;
                      font-weight: 700;
                      color: #008eb2;
                      .right-nav-item-submenu-right-submenu-top-svg {
                        width: 16px;
                        height: 16px;
                      }
                    }
                  }
                }
                .right-nav-item-submenu-right-submenu-bottom-container {
                  background-color: #3f4064;
                  width: 100%;
                  height: calc(100% - 60px);
                  overflow: auto;
                  direction: ltr;
                  .right-nav-item-submenu-right-submenu-bottom {
                    display: flex;
                    flex-flow: row wrap;
                    direction: rtl;
                    width: 100%;
                    height: 100%;
                    .right-nav-item-submenu-right-submenu-bottom-cols {
                      display: flex;
                      flex-flow: column nowrap;
                      width: 25%;
                      height: 100%;
                      .right-nav-item-submenu-right-submenu-bottom-cols-head-container {
                        display: flex;
                        width: 100%;
                        height: 40px;
                        flex-flow: row wrap;
                        align-items: center;
                        justify-content: center;

                        text-decoration: none;
                        .right-nav-item-submenu-right-submenu-bottom-cols-head-marker {
                          width: 2px;
                          height: 20px;
                          background-color: #ef4056;
                        }
                        .right-nav-item-submenu-right-submenu-bottom-cols-head-header {
                          font-family: var(--fontRegular);
                          font-size: 14px;
                          font-weight: 700;
                          color: #0c0c0c;
                        }
                        .right-nav-item-submenu-right-submenu-bottom-cols-head-svg {
                          display: block;
                          width: 16px !important;
                          height: 16px !important;
                          fill: #0c0c0c;
                        }
                      }
                    }
                  }
                }
              }
              &:hover .right-nav-item-submenu-right-submenu {
                display: block;
              }
            }
          }
        }
        &:hover .right-nav-item-submenu {
          display: block;
        }
      }
    }
    .header-menu-left-img {
      display: inline-block;
    }
  }
  .left {
    width: 15%;
    height: inherit;
    display: flex;
    align-items: center;
    justify-items: center;
    column-gap: 10px;
    padding-right: 5px;
    padding-top: 3px;
    .header-menu-left-img {
      opacity: 0.7;
      width: 20px;
      height: 20px;
    }
    .header-menu-left-head6 {
      font-family: var(--fontRegular);
      font-weight: normal;
      font-size: 13px;
      color: rgb(68, 67, 67);
    }
  }
}

.boldItemFirstMenu {
  font-size: 13px !important;
  font-weight: bold !important;
}
.boldItemFirstMenuImg {
  opacity: 0.6 !important;
}
.right-nav-item-submenu-right-submenu-active {
  display: block !important;
}
