.products {
  width: 100%;
  height: 245px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  .products-center {
    width: var(--width-center);
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    .products-center-item {
      width: auto;
      height: 100%;

      .products-center-item-link {
        display: block;
        width: auto;
        height: 100%;
        .products-center-item-link-img {
          width: 320px;
          height: 240px;
          border-radius: var(--large-radius);
        }
      }
    }
  }
}
